@import 'reset/variaveis' , 'reset/mixins' , 'reset/reset' ;

/* Código */
.NavMenu{
  background-color:var(--blanco); 
  width: 100%;
}
.header{
  width: 100%;
  background-color:var(--VeryLightGray);
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: center;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items:center;
  width: 90%;
  max-width:1920px;
  h1{
    padding: 1rem;
  }
}
.header .button{
  display: none;
  cursor: pointer;
  padding-right: 1rem;
}
.header .svg{
  width: 2em;
  height: 2em;
  fill: var(--VeryDarkViolet);
}
.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-end;
  align-items: center;
  gap:  1.3125rem;
}
.header .li{
  margin: 0 0.5em;
  color: var( --DarkGrayishViolet) !important;
  &:hover{
    transition: all .5s ease-in-out;
    color: var(--DarkViolet) !important;
  }
}
.btnTablet {
  display: none;
}

.btn{
  display: block;
  .-head{
    border-radius: 0;
    border: 1px solid var(--DarkViolet);
    padding: 0.5rem 2rem;
    color: var(--DarkViolet);
    &:hover{
      background-color: var(--DarkViolet);
       color: var(--VeryLightGray);
       transition: all .5s ease-in-out;
     }
  }
}
.close{
  display: none;
}

/*main*/
.main{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.h1{
  text-align: center;
  font-size:2.25rem;
  line-height:2.25rem;
  color: var(--VeryLightGray);
}
.p{
  text-align: center;
  font-size:1rem;
  color: var(--VeryLightGray);
}
/*hero-section*/
.hero-section {
  width: 100%;
  max-width:120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--DarkViolet);
  .hero{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .img{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 29.6875rem;
    gap: 2.125rem;
  }
}
/*process*/
.process{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--VeryLightGray);
  padding-top: 5rem;
  width: 100%;
  .process-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 3.125rem;
    width: 90%;
    max-width:1920px;
    #linha-horizontal {
      width: 9.375rem;
      border: 1px solid var(--DarkViolet );
    }
    .h1 {
      color:var( --VeryDarkViolet);
    }
    .p{
      color:var(--DarkGrayishViolet);
    }
  
    .h2{
      text-align: center;
      font-size:1.55rem;
      line-height:2.25rem;
      font-style: bold;
    }
    .price-liste{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.125rem;

      .prices{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 2.125rem;
        .svg{
          width: 20%;
        }
      }
    }
  }
}
/*about*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color:var(--VeryLightGray);
  height: 39.6875rem;
  width: 100%;
  .-ab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 19.6875rem;
    padding: 1rem;
    gap: 3rem;
    background-color:var(--DarkViolet);
    background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
.bt{
    border-radius: 0;
    border: 1px solid var(--VeryLightGray);
    padding: 0.5rem 2rem;
    color: var(--VeryLightGray);
    cursor: pointer;
    &:hover{
     background-color: var(--VeryLightGray);
      color: var(--DarkViolet);
      transition: all .5s ease-in-out;
    }
  }
/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  padding: 1rem;
  width: 100%;
  .insure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    gap: 2.125rem;
    height: 10.6875rem;
    width: 90%;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top right;
    .redes{
      display: flex;
      gap: 1rem;
    }
  }

  .topcos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .text{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

    }
    h1{
      color: var( --DarkGrayishViolet);
    }
    h2{
      color: var(--VeryDarkViolet);
    }
  }
}
@media screen and (max-width:1023px){
  .wrapper{
    justify-content:space-between !important;
    align-items:center;
    width: 100%;
  }
  .header .button{
    display: block;
  }
  .header .nav{/*quando o botão não estiver ativo */
    width: 100%;
   /* display: none;*/
   overflow: hidden;
   pointer-events: none;/*para não ter efeito no mouse*/
   height: 0vh;
   transition: all .5s ease-in-out;
   display:flex;
   flex-flow: column nowrap;
   justify-content:flex-start;
   align-items: center;
  }
  .header .nav.activo{/*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 80vh;
    width: 100%;
    pointer-events: auto;
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    pointer-events: auto;
    background-color: var(--VeryDarkViolet);
  }
  .header .button.activo{
    .svg{
      display: none;
    }
    .close{
      display: block;
    }
  }
  .close{
    display: none;
  }

  .header .button.activo{
    .svg{
      display: none;
    }
    .close{
      display: block;
    }
  }
  .header .ul{
    flex-direction: column;
  }
  .header .li{
    margin: 1em 0;
    color: var( --VeryLightGray) !important;
  }
  .btn{
    display: block;
    .-head{
      border-radius: 0;
      border: 1px solid var(--VeryLightGray);
      padding: 1rem 5rem;
      color: var(--VeryLightGray);
    }
  }

  .btnTablet {
    display: none !important;
    width: 84%;
  }

}
@media screen and (min-width:920px){
  .process{
    .process-wrapper{
      padding: 0;
      align-items: flex-start;
      #linha-horizontal {
        width: 8.375rem;
        border: 1px solid var(--DarkGrayishViolet );
      }
      .h1 {
        color:var( --VeryDarkViolet);
        font-size: 3.30rem;
        font-family: var(--tipo-secundaria);
      }
      .price-liste{
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 3.125rem;
        margin-top: 3rem;
        .prices{
          align-items: flex-start;
          justify-content: center;
          width: 90%;
          gap: 1.125rem;
          .h2{
            color:var( --VeryDarkViolet);
            font-family: var(--tipo-secundaria);
          }
          .p{
            text-align: justify;
            font-family: var(--tipo-principal);
          }
        
 
        }
      }
    }

  }
}

@media screen and (min-width:920px){
  .about {
    .-ab{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-around;
      width: 90%;
      height: 15.6875rem;
      padding: 1rem;
      gap: 3rem;
      background-color:var(--DarkViolet);
      background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size:auto;
      max-width: 120rem;
    }
  }
}

@media screen and (min-width:920px){
  .footer{
    .insure{
      max-width: 120rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      #linha-horizontal{
        display: none;
      }
    }
    .conjunto{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 90%;
      max-width:1920px;
  
      gap: 8.125rem;
    }
    .topcos{
      align-items: flex-start;
      .text{
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}


@media screen and (min-width:580px){
  .hero-section {
    flex-flow: row-reverse nowrap;
    .hero{
      width: 90%;
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      justify-content: space-between;
    }
    .img{
      width: 40%;
      max-width: 51.5625rem;
      img{
        position: relative;
        left: 0;
        right: 0;
        top: 10.625rem;
        bottom: 0;
      }
    }
    .text{
      width: 50%;
      align-items: flex-start;
      .h1 {
        text-align: left;
        font-size: 4.25rem;
        line-height: 4.25rem;
        font-weight: 700;
  
    }
      .p{
        text-align: left;
      }
    }
  }

  .process{
    padding-top: 15em;
  }
}
